@import "tailwindcss";
@config "../../tailwind.config.js";


/* -------------------------------------- Themes -------------------------------------- */

/* Light Mode */
:root {
    --color-background: #f9f5ff;
    --color-surface: #ffffff;
    --color-accent: #712cf9;
    --color-secondary: #d8d3ff;
    --color-text: #1a1a2e;
    --color-muted: #858585;
    --color-border: #ddd6f3;
    --color-component: #f9fafb;
}

/* Dark Mode */
.dark {
    --color-background: #13111a;
    --color-surface: #1c1a27;
    --color-secondary: #5c5470;
    --color-text: #f4f1ff;
    --color-muted: #8c849c;
    --color-border: #525252;
    --color-component: #364153;
}

/* -------------------------------------- Themes -------------------------------------- */

/* ------------------------------------- Components ------------------------------------- */

body {
    @apply bg-background text-text m-0 p-0;
}

input {
    outline: none;
}

/* ------------------------------------- Components ------------------------------------- */